<div class="container mx-auto mt-5">
  <div class="mx-5 px-5">
    <div class="d-flex mx-auto justify-content-center  align-items-center">
      <h4>總花費:</h4>
      <h1>{{totalAmount}}</h1>
    </div>
  <div>
    <div class="row flex-fill">
      <div class="col-md-12">
        <div class="row input-group mb-3">
          <form action="/" method="POST">
            <select class="form-select" name="categoryId" id="categoryId" onchange="this.form.submit()"
              aria-label="Default select example">
              <option selected disabled>類別</option>
              <option value="all">全部</option>
              {{#each categories}}
              <option value="{{this._id}}">{{this.name}}</option>
              {{/each}}
            </select>
          </form>
        </div>
      </div>
    </div>
    <a class="btn btn-info mx-5" href="./records/new">新增一筆</a>
  </div>
  
</div>
  
<div class="col-8 mx-auto">
  <table class="table table-light mt-5">
    <tbody>
      <tr>
        {{#each records}}
        <td class="row border-secondary border-bottom align-items-center">
          <div class="col-1">
            <i class="{{this.categoryId.icon}}"></i>
          </div>
          <div class="col-3">
            <h5 class="text-start m-0">{{this.name}}</h5>
            <p class="my-1">{{this.date}}</p>
          </div>
          <h3 class="col-4">${{this.amount}}</h3>
          <div class="col-3">
            <a href="/records/{{this._id}}/edit" class="btn btn-info btn-sm py-2">修改</a>
            <form action="/records/{{this._id}}?_method=DELETE" method="post" class="d-inline"
              onclick="return confirm('確定刪除這筆消費嗎？')">
              <button class="btn btn-danger btn-sm py-2" type="submit">刪除
              </button>
            </form>
          </div>
        </td>
        {{/each}}
      </tr>
    </tbody>
  </table>
</div>
</div>